* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    color: #DEDEDE;
}

a {
    color: unset;
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
    overflow-x: hidden;    
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.main h1 {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
}
h1 span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
   
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}

.btn{
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: fit-content;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: orangered;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg {
    width: 432px;
    height: 100%;
    position: relative;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.text-descr {
    max-width:524px;
}

.visual__img {
    width: 600px;
    position: absolute;
    left: -20%;
}

.banners {
    padding: 180px 0;
}

.banner__left, .banner__right {
    display: flex;
    align-items: center;
    width: 550px;
    height: 385px;
    background-color: grey;
    padding-left: 50px;
    color: white;
    background-size: cover;    
    box-shadow: 0 6px 10px rgb(221 95 38 / 70%);
}

.banners__container {
    gap: 30px;
}

.banner__left {
    background: url("image/img.jpg") no-repeat;    
}

.banner__right {
    background: url("image/img2.jpg") no-repeat;
}

.banner__discont {
    background: #F37335;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 900px;
    text-transform: uppercase;
    padding: 5px 18px;
    width: fit-content;
}
.banner__title {
   font-size: 60px;    
}

.banner__content {
    max-width: 392px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner__text {
    font-size: 15px;
}

.banner__right h2 {
    font-size: 44px;
    font-weight: 700;
}

.footer__menu__title {
    font-size: 20px;
    color: white;
    margin-bottom: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.footer__logo {
    width: 63px;
    height: 56px; 
}

 footer {
    padding: 115px 0;
    background-color: #1E2F40;
} 

.footer__submenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__call a {
    color: #FBB731;
    font-size: 20px;
    font-weight: 800;   
}

.modal {
    height: 100%;
    width: 100%;
    background-color: #1c1c1ca3;
    position:fixed;
    top:0;
    left: 0;
   
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 99;
 }

 .modal_opened {
    display: flex; 
 }
 
 
 .modal_body {
    background-color: rgb(230, 232, 235);
    padding: 20px; 
    border-radius: 20px;
 }
 
 .modal_close {
    justify-content:flex-end; 
 }
 
 .modal_content {
    padding: 10px 40px; 
 }

 .modal_description {
    max-width: 340px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 5px auto; 
 }
 
 .modal_content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center; 
 }
 
 .modal_worktime {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 24px; 
 }
 
 .form_block {
    display: flex;
    width: 90%;
    gap: 25px;
    flex-direction: column;
    margin-top: 10px; 
    gap: 10px;
 }

 form {
    margin-top: 15px;
}
  
 form p {
     font-size: 12px;
     margin-left: 40px; 
     flex-direction: column;
}
 
 form input[type=text], form button{
    font-size: 18px;
    padding: 25px 0;
    padding-left: 20px;
    width: 100%;
    border-radius: 100px;
    box-sizing: content-box;
    border: none; 
}
 
 form button {
    background-color: #F38120;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover{
    background-color: orangered;
}
  
 .form_politic_text {
    max-width: 385px;
    font-size: 13px;   
}
 
 .form_politic_text a {
    color: orange;
}
 
@media (max-width:1300px) {
    .bg {
        width: 250px;       
        margin-right: 200px;    

    }
    .visual__img {
        width: 450px;        
        left: -40%;
        top: 15%;
    }
}

@media (max-width:1150px) {
    .bg {          
        margin-right: 70px;        
    }
}

@media (max-width:970px) {
    .visual {          
        display: none;     
    }
    .container{ 
        justify-content: center;
    }
}

