* {
margin: 0;
padding: 0;
}
body {
   font-family: 'Lato', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
}

.main {

   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.container {
max-width: 1180px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.text {
color: #FAf9f9;

}
h1 {
   font-size: 120px;
   font-weight: 800;
  text-transform: uppercase;
  line-height: 120px;

}

img {
   width: 100px;


}