* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.main h1 {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;

}
h1 span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
    
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.btn{
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: fit-content;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.text-descr {
max-width:524px;

}
img {
    width: 829px;
    position: absolute;
    right: -200px;
}
.banners {

    padding: 180px 0;
}

.banner__left, .banner__right {

    display: flex;
    align-items: center;
    width: 580px;
    height: 395px;
    background-color: grey;
    padding-left: 50px;
    color: white;
    background-size: cover;
}
.banner__left {

    background: url("image/img.jpg") no-repeat;
    
}

.banner__right {

    background: url("image/img2.jpg") no-repeat;
}

.banner__discont {

    background: #F37335;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 900px;
    text-transform: uppercase;
    padding: 5px 18px;
    width: fit-content;
    
}
.banner__title {
   font-size: 60px;
    
}

.banner__content {

    max-width: 392px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.banner__text {

    font-size: 15px;
}

.banner__right h2 {

    font-size: 44px;
    font-weight: 700;
}

/* footer {

    width: 63px;
    height: 56px;
} */